.footer {
  display: flex;
  justify-content: space-between;
  background-color: #1f2e5c;
  color: #fff;
  padding: 40px 250px;
  flex-wrap: wrap;
  line-height: 1.5;
  font-size: 14px;
  margin-top: 60px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section p,
.footer-section ul,
.footer-section a {
  margin: 5px 0;
}

.footer-section a, .footer-section p, .footer-section li a{
  color: #ffffffd3;
}

.nyhedsbrevp{
  line-height: 2;
  width: 299px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  margin-right: 10px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 231px;
  height: auto;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 200px;
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d82c2c;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #b02222;
}

p a{
  color: #fff;
}


@media (max-width: 1200px) {
  .footer {
    display: none;
  }
}