.homediv {
  margin: 0 auto;
  margin-top: 889px;
  padding: 0;
}

.homenyheder{
  max-width: 1158px;
  margin: 0 auto;
}

.nyhedertext {
  font-size: 18px;
  color: #1f2d5c;
  margin-bottom: 40px;
}

.nyhedertext h1 {
  font-size: 44px;
  margin-bottom: 30px;
}

.nyhederimagediv {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
  justify-content: center;
}

.nyhederimagediv img {
  box-shadow: 10px 4px 25px rgba(0, 0, 0, 0.25);
}

.homeanbefalet {
  box-shadow: 10px 4px 25px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  height: 737px;
  margin: 0 auto;
  margin-top: 80px;
}

.anbefalettext{
    max-width: 1158px;
    margin: 0 auto;
    font-size: 18px;
    color: #1f2d5c;
    margin-bottom: 40px;
}

.anbefalettext h2 {
  margin-bottom: 18px;
  padding-top: 49px;
  font-size: 35px;
}

.spotproductdiv {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.spotproduct{
  height: 710px;
  width: 1233px;
  background-color: #1F2D5C;
  box-shadow: 10px 4px 25px rgba(0, 0, 0, 0.25)
}

.homectadiv{
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.homecta {
  height: 416px;
  width: 100%;
  display: flex;
  background: white; 
  box-shadow: 10px 4px 25px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  justify-content: center;
  gap: 90px;
}

.homectatext{
  color: #1f2d5c;
  max-width: 626px;
  line-height: 1.5;
  font-size: 18px;
  margin-top: 50px;
  padding: 10px;
}

.homectatext h2 {
  font-size: 28px;
}

.homecta img{
  height: 118%;
  position: relative;
  bottom: 75px;
}

.tiktokbtn{
width: 194px;
height: 69px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
background-color: #e73a2d;
border: none;
font-size: 23px;
color: #fff;
font-weight: bold;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 7px;
margin-top: 10px;
text-decoration: none;
}

.tiktokbtn img{
  width: 27px;
  height: 27px;
  margin-top: 150px;
}