.product-card {
  padding: 0;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;  
  max-width: 295px;
  max-height: 498px;
  box-sizing: border-box;
}

.product-info {
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 24px;
}

.product-image {
  display: block; 
  margin: 0 auto; 
  max-width: 100%; 
  height: 248px; 
  padding-top: 25px; 
  padding-bottom: 7px;
}

.cardcollectionp{
  color: #E73A2E;
  font-size: 12px;
}

.cardnameh3, .cardprice{
  font-size: 18px;
  margin: 10px 0;
}

.cardstockspan{
  font-size: 10px;
}

.product-card a {
  text-decoration: none;  
  color: inherit;  
  width: 100%; 
}

.add-to-bag-btn {
  background-color: #1F2D5C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 23px;
  margin-bottom: 28px;
  transition: background-color 0.3s ease;
  font-size: 23px;
  font-weight: bold;
  width: 245px;
}

.add-to-bag-btn:hover {
  transform: scale(1.025);
}

.stock-indicator {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.stock-light {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;
}

.cardstockspan{
  margin-left: -4px;
}

.stock-light.green {
  background-color: green;
}

.stock-light.red {
  background-color: red;
}

.add-to-bag-btn.out-of-stock {
  background-color: #d0d0d0;
  color: white; 
  cursor: not-allowed; 
}


