.ctadiv{
    display: flex;
    justify-content: center;
    margin: 115px 0;
  }
  
  .cta {
    height: 416px;
    width: 100%;
    display: flex;
    background: white; 
    box-shadow: 10px 4px 25px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    justify-content: center;
    gap: 90px;
  }
  
  .ctatext{
    color: #1f2d5c;
    max-width: 626px;
    line-height: 1.5;
    font-size: 18px;
    margin-top: 50px;
    padding: 10px;
  }
  
  .ctatext h2 {
    font-size: 28px;
  }
  
  .cta img{
    height: 118%;
    position: relative;
    bottom: 75px;
  }
  
  .tiktokbtn{
  width: 194px;
  height: 69px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #e73a2d;
  border: none;
  font-size: 23px;
  color: #fff;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 20px;
  text-decoration: none;
  }
  
  .tiktokbtn img{
    width: 27px;
    height: 27px;
    margin-top: 150px;
  }