.shop-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 70px;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  font-family: 'Arial', sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Shoph1 {
  font-size: 2.5rem;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.Shoph2 {
  font-size: 1.6rem;
  color: #34495e;
  margin-bottom: 30px;
  font-weight: 600;
  text-align: left;
}

.Shopaddress {
  font-style: normal;
  text-align: left;
  margin-bottom: 30px;
}

.Shopp {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #555;
}

span {
  font-weight: bold;
}

.Shopa {
  color: #3192d3;
  text-decoration: none;
  font-weight: bold;
}

.Shopa:hover {
  text-decoration: underline;
}

.Shopform {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.Shoplabel {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.Shopinput,
.Shoptextarea {
  width: 95%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.Shopinput:focus,
.Shoptextarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.Shoptextarea {
  min-height: 150px;
  resize: vertical;
}

.Shopbutton {
  padding: 14px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.Shopbutton:hover {
  background-color: #0056b3;
}

.Shopform input::placeholder,
.Shopform textarea::placeholder {
  color: #999;
}




@media (max-width: 768px) {
  .Shopform {
    padding: 20px;
  }

  .Shopbutton {
    padding: 16px 24px;
  }

}
