.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center;  /* Center text content */
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  max-width: 100%;
  height: auto;
}

.add-to-bag-btn {
  background-color: #00438b !important; /* Blue background */
  color: white; /* White text */
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Space between the description and the button */
  transition: background-color 0.3s ease;
}

.add-to-bag-btn:hover {
  background-color: #0056b3; /* Darker blue when hovered */
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
